/* Style for gtk.Headerbar > button */
headerbar {
    box-shadow: 0 0 0 1px alpha(@headerbar_bg_color, 1);
    margin-top: -.15em;
}

headerbar windowhandle {
    margin-bottom: -.40em;
}
headerbar box > label {
    margin-top: -.20em;
}

headerbar box > button {
    background-color: transparent;
}

headerbar box {
    background-color:unset;
}

headerbar button:active{
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 1px;
    border-radius: 10%;
}

headerbar image:hover{
    transform: scale(1.1);
}

headerbar  box > box label{
    font-size: 92%;
    font-weight:lighter;
    margin-top: 1.5px;
}

headerbar box > menubutton label{
    font-size: unset;
    font-weight: unset;
    margin-top: unset;
}

headerbar box > button label{
    font-size: unset;
    font-weight: unset;
    margin-top: unset;
}

window {
    background-color: @headerbar_bg_color;
}

.wiki-form * {
    transition: all ease-in-out 300ms, opacity 400ms , border 0ms;
}
.wiki-form entry{
    border-radius: 999px;
}
.wiki-form button{
    border-radius: 999px;
}

/* Style for gtk.Flowbox */
flowbox {
    min-width: .5em;
    margin: .1em;
    background-clip:content-box;
    transform: scale(1.0);
    opacity: 1;
    transition: scale ease-out .4s;
    transition: opacity ease-out .4s;
}

flowbox label{
    margin-top: .5em;
    margin-bottom: .01em;
}

flowbox  box:hover {
    animation-name: slide_;
    animation-duration: 0.6s;
    transition: ease-in-out;
}

@keyframes slide_ {
    0% {
        transform: scale(1.2);
        opacity: .4;
    }
    50%{
        opacity: .9;
    }
    75% {
        opacity: .7;
    }
    100% {
        transform: scale(1.3);
        opacity: .6;
    }
}


/* Style for Gtk.Box */

box > label {
    padding: 2px;
}
/* Style for Gtk.textview */

.wiki-editor.view {
    margin-top: 0;
    padding: .35em .1em 0 .1em; /* top right bottom left */
    border-right: none;
    border-left: none;
    box-shadow: inset 0 .1px 0 0 alpha(black, 1),
        inset  0 3px 2px alpha(black, .07),
        inset 0 4px 3px 2px alpha(black, .03);
    letter-spacing: .046em;
    line-height: 1.3em;
}

.wiki-editor.view text selection {
    background-color: alpha(@theme_selected_bg_color, .3);
}

/* Style for gtk.MenuButton */

menubutton > button {
    background-color: transparent;
}

menubutton:active  label{
    opacity: .5;
    transform: scale(.6);
}

/* Style for gtk.Notebook */
notebook {
    border-width: 0;
}

notebook tabs{
    background-color: @headerbar_bg_color;
    margin-bottom: -.35em;
}

notebook tab {
    margin-left: .1em;
    margin-right: .1em;
    margin-top: 6px;
    margin-bottom: 6px;
    border-width: 2px;
    border-radius: 9999px;

    box-shadow: 0 0 0 0;
    background-clip: padding-box;
    border-image: linear-gradient(
            alpha(@headerbar_bg_color, .5) 20%,
            alpha(@theme_fg_color, .1) 80%,
            @headerbar_bg_color 30%)
            1 repeat;
    border-left: solid 1.3px;
    transition: all ease-in-out 300ms, opacity 400ms , border 0ms;
}

notebook tabs tab:nth-child(2) {
    /*   color: aqua; */
       border-left: 0;       
}

notebook tab:checked:nth-child(n+2) ~ :nth-child(n){
    border-right: solid 1.3px;
    border-left:0;
}

notebook tab:checked:nth-child(n) ~ :nth-last-child(2) {
    border-right: 0;
    border-left: 0;
}

notebook tab:checked {
    border-left: 0;
    border-right: 0;
    background-color: alpha(@theme_fg_color, 0.10);
    opacity: 1;
}

notebook tab:hover {
    border-right: 0;
    border-left: 0;
    background-color: alpha(@theme_fg_color, 0.14);
}

notebook tab:hover image  {
    opacity: 1;
}

notebook tab:checked image{
    opacity: 1;
}

notebook tab label{
    margin-left: 1em;
    margin-right: 1em;
}

notebook image{
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: -6px;
    padding: 2px 2px 2px;
    opacity: 0;   
}

notebook image:hover{
    background-color: alpha(@theme_bg_color, 0.6);
    border-radius: 9999px;
    box-shadow: 0 0 0 1px alpha(black, 0.03),
        0 1px 3px 1px alpha(black, .07),
        0 2px 6px 2px alpha(black, .03);
}

notebook arrow{
    border-radius: 2px;
    border-width: 0 0px 0px 0;

    margin: 0px 8px 0px 8px;
    margin-top: 9px;
    margin-bottom: 9px;
    box-shadow: inset -3px -3px 0px 0px;
    padding: 0;
    background-color:transparent;
    opacity: .3;
}

notebook arrow.up {
transform: rotate(-45deg);
margin-left: -9px;
}

notebook arrow.down {
transform: rotate(135deg);
margin-right: -9px;
}

notebook arrow:hover{
    animation: slide_1 .5s linear infinite;
}

notebook arrow:active{
    background-color: alpha(@theme_bg_color, .4);
    border-radius: 80%;
}

@keyframes slide_1 {
    0% { opacity:.2; box-shadow: inset -3px -3px 0px 0px;}	
   20% { opacity:.5; box-shadow: 4px 4px 0px 0px;}	
   40% { opacity:.2; box-shadow: inset -3px -3px 0px 0px; }	
   100% { opacity:.5; box-shadow: 4px 4px 0px 0px; }	
}

popover arrow {
    margin: unset;
    background-color: unset;
    box-shadow: unset;
}
popover arrow:hover{
    animation: unset;
}
/*styling for Gtk.searchbar */

searchbar > revealer  {
    background-color: alpha(@theme_bg_color, .99);
    box-shadow: 0 0 0 1px alpha(black, 0.03),
        0 1px 3px 1px alpha(black, .07),
        0 2px 6px 2px alpha(black, .03);
    margin: 0 10px 20px 10px;
    transition: margin ease-in-out 0.6s; 
}

searchbar > revealer > box  image:hover{
    background-color: alpha(@theme_fg_color, 0.050);
    border-radius: 6px;
}

searchbar > revealer > box  image:active{
    animation: slide_ .5s linear infinite;
}

box {
    background-color: unset;
    box-shadow: unset;
}

searchbar > revealer {
    border-radius: 20px;
}

searchbar > revealer button {
    border-radius: 20px;
}

/*styling for Gtk.checkbutton */

checkbutton:checked{
    background-color: alpha(@theme_fg_color, .2);
    animation-name: slide_;
    animation-duration: 200ms;
    transition:ease-out;
}

checkbutton:checked > label{
    margin-left:1em;
    margin-right: 1em;
}

button{
    color: unset;
}
.hide-button{
    transform: scale(0.3);
}
.hide-button:hover{
    transform: scale(1);
}
/*styling for Gtk.Progressbar */
progressbar trough, progress {
    min-height: .3em;
    border-radius: 20px;
    background-color: @headerbar_bg_color;
    background-image: linear-gradient(90deg, @theme_selected_bg_color, @theme_bg_color);
}

progressbar progress{
    background-image: linear-gradient(90deg, @theme_bg_color, @theme_selected_bg_color);
    background-color: @headerbar_bg_color;
}

/*styling for Adw.PreferenceGroup */
preferencesgroup  * {
    transition: all ease-in-out 300ms, opacity 400ms;
}

preferencesgroup  .expander image.expander-row-arrow {
    transform: rotate(90deg);
}

/*
preferencesgroup  .expander image.expander-row-arrow:hover {
    background-color: blue;
}

preferencesgroup switch:checked{
    background-color: alpha(@theme_selected_bg_color, 0.6);
}
/***********************/

.wiki-scroll {
    background-color: @headerbar_bg_color;
}

.wiki-scroll scrollbar{
    transform: scale(1 , .1);
}

.wiki-scroll scrollbar:hover{
    border-radius: 10px;
}

.wiki-scroll scrollbar:active{
    transform: scale(1.4, .08);
}

.wiki-scroll scrollbar bar{
    transform: scale(1.4,1);
}

.wiki-scroll scrollbar bar:hover{
    border-radius: 10px;
}

.wiki-scroll scrollbar bar:active{
    transform: scale( 1.4, 1.8);
}

frame{
    box-shadow: inset 0 0 12px 0 alpha(@theme_bg_color, .9);
    border: 1px;
    border-radius:1px;
}

.wiki-menu {
    transition: all ease-in-out 300ms, opacity 400ms , border 0ms;
}

.wiki-menu image{
    margin-bottom: -2px;
    transform: scale(.9);
}

.wiki-menu image:hover{
    margin-bottom: -1px;
    transform: scale(1);
    transition:ease-in-out;
}

/*
.terminal{
    color: aliceblue;
    caret-color: rgb(160, 0, 88);

}

.terminal.view{
    padding: 2em 2em 2em 2em; /* top right bottom left */ /*
    background-color: black;

}

.terminal text {
    background-color: black;
}
*/
