/* Style for Gtk.Notebook */

@import url('./default.css');

/* Style for Gtk.label in Gtk.Box */
box > label {
    color: #ffffff;
    margin: 1px;
    padding: 2px;
}

notebook {
  /*  border: 1px solid #01bd94; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.596) 0%,rgba(0, 0, 0, 0.514) 1%,rgb(0, 0, 0) 100%);  
}

notebook tabs {
    background-color: #000000;
    color: #fafafa;
}

/* Style for gtk.HeaderBar */

headerbar {
    background-color:rgba(0, 0, 0, 0.678) ;
    opacity: .9;
}

headerbar button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
}
headerbar button:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.164);
}

headerbar .modified {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

/* Style for Gtk.Box */
box {
   /* border: 1px solid #008cff; */
    border-radius: 12px;
    background-color: #03164100;
    color: #ffffff; 
/*    opacity: 0.9;*/
    padding: .1em;
}

/* Style for Gtk.Button in Gtk.Box */

box > button {
   /*   all: unset; */
   border-radius: 20px;
}
.hide-button{
    margin-top: 142px;
}
.hide-button:hover{
    margin: 0;
}
/* Style for Gtk.label in Gtk.Box */
box > label {
    color: #ffffff;
    margin: 1px;
    padding: 2px;
}

image{
    filter: grayscale(1) contrast(1) brightness(1);
}

image:hover{
    filter: unset;
}

/* Style for gtk.ScrolledWindow */

scrolledwindow {
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0.76) 1%,rgba(56, 5, 54, 0.884) 100%);
    border-color: transparent;
}

scrolledwindow scrollbar{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.664) 0%,rgba(0, 0, 0, 0.726) 1%,rgba(56, 5, 54, 0.658) 100%);
    color: rgb(153, 49, 136);
    border-color: transparent;
    border-radius: 6px;
}

box > scrolledwindow scrollbar{
    transform: scale(.8 , .1);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.671) 0%,rgba(0, 0, 0, 0.411) 1%,rgba(0, 0, 0, 0.726) 100%);
}
box > scrolledwindow scrollbar:hover{
    color: #ff3888;
    border-radius: 10px;
    border-color: transparent;
    transform: scale(.5, .08);
    background-color: #1f151f;
}


/* Style for Window appearance */

window {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.863) 0%,rgba(32, 11, 32, 0.925) 1%,rgb(85, 9, 82) 100%);
    color: #000000cb;
}

window stack {
    background-image: linear-gradient(to bottom, rgba(43, 23, 54, 0.863) 0%,rgba(32, 11, 32, 0.925) 1%,rgba(0, 0, 0, 0.671) 100%);
}

window selection {
    background-color: #690333b2;
    color: #fafafa;
}

window selection:active {
    background-color: #690333cc;
    color: #fafafa;
}

/* Style for Gtk.Textview View */

textview.view {
    border: 2px solid rgb(0, 0, 0);
}

/* Style for gtk.Checkbutton */

checkbutton:checked{
    background-color:rgb(94, 32, 88);
    animation-name: slide_;
    animation-duration: 300ms;
    transition:ease-out;
}

checkbutton * {
    background-color: rgba(101, 15, 105, 0.658);
    color:#e92a63;
}

checkbutton frame {
    background-color: rgb(133, 0, 99);
    color:rgba(252, 188, 255, 0.418);
}

checkbutton label {
    color:#fdfdfd;
    background-color: rgba(0, 0, 0, 0);
}

/* Style for Gtk.Entry in Gtk.Box */

box > entry {
    /*   all: unset; */
    border-radius: 16px;
    background-color:rgba(101, 15, 105, 0.658);
    color: #fafafa;
    border: 2px solid rgba(64, 8, 97, 0.247);
}

box > entry:focus-within{
    background-color: #5e0e5a88;
    color: #fafafa;
    border: 2px solid rgb(223, 30, 149);

}

frame{
    border-radius: 1px;
    background-color: rgb(0, 0, 0);
}

searchbar > revealer {
    background-color: alpha(rgb(0, 0, 0), .85);
}

preferencesgroup switch{
    background-color:rgba(101, 15, 105, 0.158);
}
preferencesgroup switch slider{
    background-color:rgba(151, 151, 151, 0.74);
}

preferencesgroup switch slider:hover{
    background-color:rgba(218, 54, 103, 0.658);
}

preferencesgroup switch:checked{
    background-color:rgba(101, 15, 105, 0.658);
}
